<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="attachment">
      <h2 data-cy="attachmentDetailsHeading"><span>Attachment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ attachment.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ attachment.name }}</span>
        </dd>
        <dt><span>File</span></dt>
        <dd>
          <div *ngIf="attachment.file">
            <a (click)="openFile(attachment.file, attachment.fileContentType)">open</a>
            {{ attachment.fileContentType }}, {{ byteSize(attachment.file) }}
          </div>
        </dd>
        <dt><span>Ticket</span></dt>
        <dd>
          <div *ngIf="attachment.ticket">
            <a [routerLink]="['/ticket', attachment.ticket?.id, 'view']">{{ attachment.ticket?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/attachment', attachment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
